#cards{
    width: 100vw;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 14vw);
    gap: 2vw;
    margin: 5vh 0 0;
}

.card{
    width: 100%;
    height: 40vh;

    background-color: red;
}