@import url(./default.css);
@import url(./vars.css);
@import url(./header.css);
@import url(./menu.css);
@import url(./banner.css);  
@import url(./cards.css);  

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    background-image: url(./../img/bg_body.png);
    background-size: cover;
    background-position: center;
}
