#square{
    position: absolute;
    top: 20vh;
    left: 90vw;
    z-index: -2;
    animation: move_screen 5s linear infinite;
}
#square img{
    width: 5vw;
    height: auto;
}

#square:hover{
    animation-play-state: paused;
}

@keyframes move_screen {
    0%,
    100%{
        top: 20vh;
        left: 90vw;
    }
    25%{
        top: 70vh;
        left: 70vw;
    }
    50%{
        top: 10vh;
        left: 50vw;
    }
    75%{
        top: 80vh;
        left: 10vw;
    }
}