.open {
     position: absolute;
     top: 7.5vh;
     left: 97vw;
     z-index: 2;

     width: 2vw;
     height: 0.6vh;
     background-color: var(--black);
     border: none;

     display: block;
     content: '';

     cursor: pointer;
 }

 .open::before,
 .open::after {
     content: '';
     position: absolute;
     width: 2vw;
     height: 0.6vh;
     background-color: var(--black);
     left: 0;
     transition: 0.3s;
 }

 .open::before {
     top: -1.2vh;
 }

 .open::after {
     top: 1.2vh;
 }


 #menu_container {
     position: absolute;
     top: 0;
     left: 100vw;

     z-index: 1;

     width: 30vw;
     height: 100vh;

     background-color: var(--primaryColor);

     transition: all 0.2s ease-in-out;
 } 


.close {
     position: absolute;
     top: 7.5vh;
     left: 97vw;
     z-index: 2;

     width: 0vw;
     height: 0.6vh;
     background-color: var(--black);
     border: none;

     display: block;
     content: '';

     cursor: pointer;
 }

.close::before,
.close::after {
     content: '';
     position: absolute;
     width: 2vw;
     height: 0.6vh;
     background-color: var(--black);
     left: 0;
     transition: 0.3s;
 }

.close::before {
    transform: rotate(45deg);
 }

.close::after {
    transform: rotate(-45deg);
 }


 #menu_container {
     position: absolute;
     top: 0;
     left: 100vw;

     z-index: 1;

     width: 30vw;
     height: 100vh;

     background-color: var(--primaryColor);

     transition: all 0.2s ease-in-out;
 }