@import url(./styles/container/footer.css);
@import url(./styles/container/header.css);
@import url(./styles/container/main.css);

.App{
    width: 100vw;
    height: 100vh;

    position: relative;
    z-index: 0;

    background-image: url(./assets/img/bg_body.png);
    background-size: cover;
    background-position: center;
}
