#nav_banner{
    width: 100vw;
    height: 40%;

    margin: 2% 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#banners{
    width: 300%;
    height: 40%;

    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0;

    z-index: -1;

    transition: all 0.2s ease-in-out;
}

.banner{
    width: 90vw;
    height: 100%;

    margin: 0 5vw;

    background-image: linear-gradient(144deg,rgba(224, 95, 54, 1) 41%, rgba(79, 161, 140, 1) 72%, rgba(72, 97, 91, 1) 100%);
}

.btn_banner{
    width: 1.2vw;
    height: 1.2vw;
    
    border-radius: 50%;
    border: none;

    margin:0 0.5vw 0.7vw;

    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btn_banner:hover{
    transform: scale(1.2);
}

#btn_banner_1{
    transform: scale(1.2);
}


.banner h1{
    margin: 1vw 0 0 1vw;
    font-size: 5vw;
    font-family: var(--fontP);
    color: white;
}

.banner p{
    margin: 0.5vw 1.5vw;
    font-size: 1.4vw;
    font-family: var(--fontS);
    color: white;
}